<%= @post.name %><br>

<%= @post.content %>

<form method="post" action="/posts/<%= @post.id %>/delete">
<<<<<<< HEAD
  <input id="hidden" type="hidden" name="_method" value="delete">
  <p><input id="delete" type="submit" value="delete"></p>
=======
  <p><input id="Delete" type="submit" value="delete"></p>
>>>>>>> 56b9aca86b748000f6eff35db4e029594a6c7f43
</form>
